
body {
    padding: 0;
}

.container-fluid{
    font-family: raleway;
    color: #555;
}
.d-flex {
    align-items: center;
    display: flex;
    padding: 20px;
}

.text-center {
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
}

.custom-btn {
    background-color: transparent;
    font-size: 2rem;
    color: #BD9DE9;
    border: none;
    margin-left: 20px;
}

.custom-btn:hover, .custom-btn:focus {
    color: #7A6BBC;
    outline: none;
}

.row.justify-content-center {
    margin-top: 20px;
}

.rounded-circle {
    width: 150px; 
    height: 150px;
    border: none;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.rounded-circle:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.custom-container {
    width: 70%;
    background-color: #EEEFF1;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 200px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 30px;
}


input[type="text"],
input[type="email"],
.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    background-color: white;
    border-radius: 50px;
    box-sizing: border-box;
}

.form-control:hover,
.form-control:focus {
    background-color:#D9DDE0;
}

.text-center {
    text-align: center;
}

.btn-primary {
    align-items: center;
    width: 40%;
    background-color: #BD9DE9;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    margin-bottom: 15px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #7A6BBC;
    color: #fff;
}
